@model TicoShopCRM.Models.Producto

@{
    ViewData["Title"] = "Detalle Producto";
}

<h1>Detalle Producto</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Código</dt>
        <dd class="col-sm-9">@Model.Codigo</dd>

        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>

        <dt class="col-sm-3">Categoría</dt>
        <dd class="col-sm-9">@Model.Categoria</dd>

        <dt class="col-sm-3">Precio Unitario</dt>
        <dd class="col-sm-9">₡@Model.PrecioUnitario.ToString("N2")</dd>

        <dt class="col-sm-3">Stock</dt>
        <dd class="col-sm-9">@Model.Stock</dd>

        <dt class="col-sm-3">Estado</dt>
        <dd class="col-sm-9">@Model.Estado</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>